<h2>Account Summary</h2>

<div class="grid-container">
  <div class="grid-item">
    <h3>Profile</h3>
    <p><span class="bold">Name:</span> <%= @current_user.name %></p>
    <p><span class="bold">Email:</span> <%= @current_user.email %></p>

    <%= button_to 'Update Account', edit_user_path(@current_user), method: 'get', class: "update-account" %>
    <%= button_to 'Delete Account', user_path(@current_user), method: 'delete', class: "update-account" %>
  </div>

  <div class="grid-item">
    <h3>Order History</h3>
    <ul>
      <% @current_user.orders.order(updated_at: :desc).each do |order| %>
        <% if order.stripe_charge_response.present? %>
          <li>
            <a href="/orders/<%= order.id %>">
              <span class="bold">Order #<%= order.id %></span> (<%= order.updated_at.strftime("%b %d, %Y") %>)
            </a>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>
