<h2>My Account</h2>

<h3>My Profile</h3>
<p>Name: <%= @current_user.name %></p>
<p>Email: <%= @current_user.email %></p>

<%= link_to 'Update Account', edit_user_path(@current_user) %>
 |
<%= link_to 'Delete Account', user_path(@current_user), method: 'delete' %>

<h3>My Orders</h3>
<ul>
  <% @current_user.orders.order(updated_at: :desc).each do |order| %>
    <% if order.stripe_charge_response.present? %>
      <li>
        <a href="/orders/<%= order.id %>">
          Order <%= order.id %>, <%= order.updated_at.strftime("%b %d, %Y") %>
        </a>
      </li>
    <% end %>
  <% end %>
</ul>
