<h2>Confirm Order</h2>

<% if flash[:order_error].present? %>
  <strong><%= flash[:order_error] %></strong>
<% end %>

<table>
  <tr>
    <th>Item</th>
    <th>Size</th>
    <th>Price</th>
    <th>Qty</th>
    <th>Sub-Total</th>
  </tr>

  <% @cart.line_items.each do |item| %>
    <tr>
      <td><%= link_to item.product.name, product_path(item.product) %></td>
      <td><%= item.product_size.size %></td>
      <td><%= number_to_currency(item.product.price) %></td>
      <td><%= item.quantity %></td>
      <td><%= number_to_currency(item.get_subtotal) %></td>
    </tr>
  <% end %>

  <tr>
    <td>Total Price:</td>
    <td><%= number_to_currency(@cart.get_total_price) %></td>
  </tr>
</table>

<%= form_tag payment_path do %>
  <script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="pk_test_ABPwpcBRExR2PGKF6RCxqW8h"
    data-amount="<%= (@cart.get_total_price * 100).to_i %>"
    data-name="Hannah"
    data-description="Example charge"
    data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
    data-locale="auto"
    data-currency="aud"
    data-shipping-address=true>
  </script>
<% end %>
<br>
<%= link_to 'Back to Cart', cart_path %>
