<h2>Order #<%= @order.id %></h2>

<% if flash[:notification].present? %>
  <p class="notification"><span><%= flash[:notification] %></span></p>
<% end %>

<h3>Order Summary</h3>
<table>
  <thead>
    <tr>
      <th>Item</th>
      <th>Size</th>
      <th>Qty</th>
      <th>Price</th>
      <th>Subtotal</th>
    </tr>
  </thead>

  <tbody>
    <% @order.line_items.each do |item| %>
      <tr>
        <td><%= link_to item.product.name, product_path(item.product) %></td>
        <td><%= item.product_size.size %></td>
        <td><%= item.quantity %></td>
        <td><%= number_to_currency(item.product.price) %></td>
        <td><%= number_to_currency(item.get_subtotal) %></td>
      </tr>
    <% end %>
  </tbody>

  <tfoot>
    <tr>
      <td colspan="4" class="total-price">Total:</td>
      <td><%= number_to_currency(@order.stripe_charge_response["amount"] / 100) %></td>
    </tr>
  </tfoot>
</table>

<div class="grid-container">
  <div class="grid-item">
    <h3>Shipping Details</h3>
    <p><%= @order.customer_details["name"] %></p>
    <p><%= @order.customer_details["address_line1"] %></p>
    <p><%= @order.customer_details["address_city"] %>,
       <%= @order.customer_details["address_state"] %>,
       <%= @order.customer_details["address_zip"] %></p>
    <p><%= @order.customer_details["address_country"] %></p>
  </div>

  <div class="grid-item">
    <h3>Payment Date</h3>
    <p><%= @order.updated_at.strftime("%b %d, %Y") %></p>

    <h3 class="payment-method">Payment Method</h3>
    <p><%= @order.customer_details["brand"] %></p>
  </div>
</div>
