<h2><%= @product.brand %></h2>

<% @product.images.each do |image| %>
  <%= image_tag image.image, alt: @product.name %>
<% end %>

<h4><%= @product.name %></h4>

<p><%= @product.description %></p>

<p><%= number_to_currency(@product.price) %></p>

<%= form_tag line_items_path  do %>
  <%= select_tag :product_size_id,
    options_for_select(
      @product.product_sizes.order(:size).pluck :size, :id
    ) %>

  <%= submit_tag 'Add to Cart' %>
<% end %>
