<!DOCTYPE html>
<html>
  <head>
    <title>8 x 8</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= cloudinary_js_config %>
  </head>

  <body class="<%= controller_name %> <%= action_name %>">

    <div class="app-grid-container">
      <div class="grid-item">
          <h1>8 x 8</h1>

          <nav class="account">
            <% if @current_user.present? %>
              Hello, <%= link_to @current_user.name, user_path(@current_user) %>
              <br>
              <%= link_to 'My Basket', cart_path %>
               |
              <%= link_to 'Sign Out', login_path, method: 'delete'  %>

            <% else %>
              <%= link_to 'Sign In', login_path %>
               |
              <%= link_to 'Sign Up', new_user_path %>
            <% end %>
            <br>
            <%= link_to 'All Products', products_path %>
          </nav>
      </div>

      <div class="app-grid-item">
        <main>
          <%= yield %>
        </main>

      </div><!-- grid-item -->

    </div><!-- grid-container -->

  </body>
</html>
