<!DOCTYPE html>
<html>
  <head>
    <title>E I G H T  x  E I G H T</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= cloudinary_js_config %>
  </head>

  <body class="<%= controller_name %> <%= action_name %>">

    <div class="app-grid-container">
      <div class="app-grid-item">
          <h1>8 x 8</h1>

          <nav class="pages">
            <%= link_to 'Shop', products_path %>
            <%= link_to 'About', products_path %>
            <%= link_to 'Contact', products_path %>
            <%= link_to 'FAQ', products_path %>
          </nav>

          <nav class="account">
            <% if @current_user.present? %>
                <%= link_to 'My Basket', cart_path %>
                <%= link_to 'My Account', user_path(@current_user) %>
                <%= link_to 'Sign Out', login_path, method: 'delete' %>

            <% else %>
                <%= link_to 'Sign In', login_path %>
                <%= link_to 'Sign Up', new_user_path %>
            <% end %>
          </nav>
      </div><!-- app-grid-item -->

      <div class="app-grid-item">
        <main>
          <%= yield %>
        </main>
      </div><!-- app-grid-item -->

    </div><!-- grid-container -->

  </body>
</html>
