<!DOCTYPE html>
<html>
  <head>
    <title>8 x 8</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body class="<%= controller_name %> <%= action_name %>">
    <h1>8 x 8</h1>

    <nav></nav>

    <%= yield %>

  </body>
</html>
